@model List< MvcApplication23.Models.students>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin</title>
<style>
    td,Th{
        border:1px solid;
        padding:10px;
    }
</style>
</head>

<body>
    <div>
        <table border="1">

            <tr>
                <th>Applicant ID</th>
                <th>Name</th>
                <th>Father Name</th>
                <th>Domicile</th>
                <th>Cnic Number</th>
                <th>Date Of Birth</th>
                <th>City</th>



            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.stu_id</td>
                    <td>@item.stu_name</td>
                    <td>@item.stu_fname</td>
                    <td>@item.stu_domicile</td>
                    <td>@item.stu_cnic</td>
                    <td>@item.stu_dob</td>
                    <td>@item.stu_city</td>


                </tr>

            }

        </table>

    </div>
</body>
</html>
