@model MvcApplication23.Models.students

@{
    ViewBag.Title = "admission";
    Layout = "~/Views/shared/_LayoutPage.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/cssstyle.css" />

<link rel="stylesheet" href="~/css/fractionslider.css" />
<link rel="stylesheet" href="~/css/style-fraction.css" />
<link rel="stylesheet" href="~/css/animate.css" />

<link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen" data-name="skins">
<link rel="stylesheet" href="~/css/layout/wide.css" data-name="layout">
<link rel="stylesheet" type="text/css" href="~/css/switcher.css" media="screen" />




<div class="row sub_content">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="dividerHeading">
            <h4><span>Admission From</span></h4>
        </div>
        <p>On the other hand 'contacting us' is much more formal & I would prefer to see it book-ended with 'Thank you'.</p>

        <div class="alert alert-success hidden alert-dismissable" id="contactSuccess">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Success!</strong> Your message has been sent to us.
        </div>

        <div class="alert alert-error hidden" id="contactError">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> There was an error sending your message.
        </div>
@using (Html.BeginForm())
{
 

          
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                   <b>CNIC :</b>     @Html.TextBoxFor(Model=> Model.stu_cnic,new { @class="form-control"})

                    </div>
                    <div class="col-lg-6 ">
                        <b>Name :</b>  @Html.TextBoxFor(Model => Model.stu_name, new { @class = "form-control" })
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                        <b>Father Name :</b>     @Html.TextBoxFor(Model => Model.stu_fname, new { @class = "form-control" })

                    </div>
                    <div class="col-lg-6 ">
                        <b>Address :</b>  @Html.TextBoxFor(Model => Model.stu_address, new { @class = "form-control" })
                    </div>
                </div>

            </div>
        

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                        <b>Date Of Birth:</b>     @Html.TextBoxFor(Model => Model.stu_dob, new { @class = "form-control" })

                    </div>
                    <div class="col-lg-6 ">
                        <b>Nationality :</b>  @Html.TextBoxFor(Model => Model.nationality, new { @class = "form-control" })
                    </div>
                </div>

            </div>

            @*1st row end*@

    
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                        <b>Domicile:</b>     @Html.TextBoxFor(Model => Model.stu_domicile, new { @class = "form-control" })

                    </div>
                    <div class="col-lg-6 ">
                        <b>City :</b>  @Html.TextBoxFor(Model => Model.stu_city, new { @class = "form-control" })
                    </div>
                </div>

            </div>  @*row end*@





            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                        <b>SSC Institue:</b>     @Html.TextBoxFor(Model => Model.ssc_institute, new { @class = "form-control" })

                    </div>
                    <div class="col-lg-6 ">
                        <b>SSC Board :</b>  @Html.TextBoxFor(Model => Model.ssc_board, new { @class = "form-control" })
                    </div>
                </div>

            </div>  @*row end*@


            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                        <b>SSC TotalMarks:</b> @Html.TextBoxFor(Model => Model.ssc_totalmarks, new { @class = "form-control" })

                    </div>
                    <div class="col-lg-6 ">
                        <b>SSC Enrolment:</b>  @Html.TextBoxFor(Model => Model.ssc_enrolment, new { @class = "form-control" })
                    </div>
                </div>

            </div>  @*row end*@

            @*hsc-------------------------------------------------------------------*@


            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                        <b>HSC Institue:</b>     @Html.TextBoxFor(Model => Model.hsc_institute, new { @class = "form-control" })

                    </div>
                    <div class="col-lg-6 ">
                        <b>HSC Board :</b>  @Html.TextBoxFor(Model => Model.hsc_board, new { @class = "form-control" })
                    </div>
                </div>

            </div>  @*row end*@


            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6 ">
                        <b>HSC TotalMarks:</b> @Html.TextBoxFor(Model => Model.hsc_totalmarks, new { @class = "form-control" })

                    </div>
                    <div class="col-lg-6 ">
                        <b>HSC Enrolment:</b>  @Html.TextBoxFor(Model => Model.hsc_enrolment, new { @class = "form-control" })
                    </div>
                </div>

            </div>  @*row end*@

            <div class="row">
                <div class="form-group">


                    <input type="submit" id="submit" value="Add Record!"  class="form-control btn btn-info" />


            </div>  @*row end*@
                </div>

}
            
















































        @*</form>*@
       
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="sidebar">
            <div class="widget_info">
                <div class="dividerHeading">
                    <h4><span>Contact Info</span></h4>
                </div>
                <p></p>
                <ul class="widget_info_contact">
                    <li><i class="fa fa-map-marker"></i> <p><strong>Address</strong>: Aptech B-11, Karachi 75850</p></li>
                    <li><i class="fa fa-user"></i> <p><strong>Phone</strong>:(021) 36930102</p></li>
                    <li><i class="fa fa-envelope"></i> <p><strong>Email</strong>: <a href="#">mail@example.com</a></p></li>
                    <li><i class="fa fa-globe"></i> <p><strong>Web</strong>: <a href="#" data-placement="bottom" data-toggle="tooltip" title="www.example.com">www.example.com</a></p></li>
                </ul>

            </div>

            <div class="widget_social">
                <div class="dividerHeading">
                    <h4><span>Get Social</span></h4>
                </div>
                <ul class="widget_social">
                    <li><a class="fb" href="#." data-placement="bottom" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twtr" href="#." data-placement="bottom" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="gmail" href="#." data-placement="bottom" data-toggle="tooltip" title="Google"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="dribbble" href="#." data-placement="bottom" data-toggle="tooltip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="skype" href="#." data-placement="bottom" data-toggle="tooltip" title="Skype"><i class="fa fa-skype"></i></a></li>
                    <li><a class="pinterest" href="#." data-placement="bottom" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="instagram" href="#." data-placement="bottom" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="youtube" href="#." data-placement="bottom" data-toggle="tooltip" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a class="linkedin" href="#." data-placement="bottom" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="flickrs" href="#." data-placement="bottom" data-toggle="tooltip" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                    <li><a class="rss" href="#." data-placement="bottom" data-toggle="tooltip" title="RSS"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
        


<script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="~/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
<script type="text/javascript" src="~/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
<script src="~/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="~/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="~/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="~/js/jflickrfeed.js"></script>
<script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="~/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/js/swipe.js"></script>
<script type="text/javascript" src="~/js/jquery-scrolltofixed-min.js"></script>
<script src="~/js/main.js"></script>

<!-- Start Style Switcher -->
<div class="switcher"></div>
<!-- End Style Switcher -->
<script>
    $(window).load(function(){
        $('.slider').fractionSlider({
            'fullWidth': 			true,
            'controls': 			true,
            'responsive': 			true,
            'dimensions': 			"1920,450",
            'timeout' :             5000,
            'increase': 			true,
            'pauseOnHover': 		true,
            'slideEndAnimation': 	false,
            'autoChange':           true
        });
    });
</script>

<!-- WARNING: Wow.js doesn't work in IE 9 or less -->
<!--[if gte IE 9 | !IE ]><!-->
<script type="text/javascript" src="~/js/wow.min.js"></script>
<script>
            // WOW Animation
    new WOW().init();



</script>
   

    
